* {
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

body {
    background: url(./assets/home/background-home-desktop.jpg);
    font-family: 'Bellefair', serif !important;
}




/* Home page */

/* Nav */

.navbar-nav {
    border: none;
    background-color: rgba(255, 255, 255, 0.068) !important;
    backdrop-filter: blur(10px) !important;
    padding-left: 4.7rem !important;
    padding-right: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.nav-link {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #FFFFFF;

}

.nav-link span {
    padding-right: 3px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2.7px;
    font-family: 'Barlow Condensed'
}

.nav-link:hover {
    color: #FFFFFF;
    border-bottom: 2px solid white;
    border-radius: 2px;

}

.nav-item .active {
    color: white !important;
    border-bottom: 2px solid white;
    border-radius: 2px;
    border-width: 2px;

}

.the-line {

    position: absolute;
    width: 490px;
    height: 1px;
    left: 167px;
    top: 50px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}




#rectangle {
    width: 444px;
    height: 1px;
    background: #383B4B;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.nav-link {
    padding-bottom: 1rem;
}


.nav-dot.active div {
    opacity: 1 !important;
}



.nav-item .active {
    color: white !important;
    border-bottom: 2px solid white;
    border-radius: 2px;
    border-width: 2px;

}

.crew-item {
    display: flex;
}

.tab-list {
    display: block;
}

.circle {
    width: 60px;
    height: 60px;


    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;

    border-radius: 80px;
    border: 1px solid #FFF;
    opacity: 0.25;
}

.circle.number {
    text-align: center;
    color: white;
    opacity: 1 !important;
}

.circle:hover {
    opacity: 1;
}

.technology-item {
    display: flex;
}





.nav-link:hover {
    color: #FFFFFF;
    border-bottom: 2px solid white !important;
    border-radius: 2px;

}

.nav-item.active {
    color: white !important;
    border-bottom: 2px solid white !important;
    border-radius: 2px;
    border-width: 2px;

}


.shown {
    background-color: white !important;
}

/* media queries */


@media only screen and (max-width: 1000px) {
    .the-line {
        display: none;
    }

    #crew-intro {
        color: #FFF !important;
        font-family: Barlow Condensed !important;
        font-size: 27px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
        letter-spacing: 2.7px !important;
        text-transform: uppercase !important;
    }

    #crew-intro span {
        color: #FFF !important;
        font-family: Barlow Condensed !important;
        font-size: 27px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: normal !important;
        letter-spacing: 2.7px !important;
    }
}

@media only screen and (max-width: 768px) {
    #crew-intro {
        color: #FFF !important;
        font-family: Barlow Condensed !important;
        font-size: 27px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
        letter-spacing: 2.7px !important;
        text-transform: uppercase !important;
    }

}

#crew-intro span {
    color: #FFF !important;
    font-family: Barlow Condensed !important;
    font-size: 27px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    letter-spacing: 2.7px !important;
}



@media only screen and (max-width: 600px) {
    #crew-intro {
        color: #FFF !important;
        font-family: Barlow Condensed !important;
        font-size: 27px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
        letter-spacing: 2.7px !important;
        text-transform: uppercase !important;
        text-align: center;
        width: auto;
        margin: auto 0 !important;
    }

    #navbarSupportedContent ul {
        border-radius: 20px;

        margin: 0 !important;
        margin-top: 2rem !important;
    }
.navbar-toggler {
    background-color: rgb(82, 82, 82) !important;
    /* Replace with your desired transparent color */
    border: none;


    box-shadow: 0 0 5px rgba(119, 118, 118, 0.5) !important;
    /* Replace with your desired box shadow color and size */
}
    #crew-intro span {
        color: #FFF !important;
        font-family: Barlow Condensed !important;
        font-size: 27px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: normal !important;
        letter-spacing: 2.7px !important;
    }

    .crew-item {
        margin: 0 !important;
        padding: 0 !important;
        display: flex !important;
        flex-direction: column-reverse;


    }

    .crew-item picture img {
        max-width: 250px !important;
        margin-top: 2.5rem !important;
        border-bottom: 1px #5e5b5b solid;

    }

    .crew-item div {
        margin: 0 !important;
        padding: 0 !important;
        text-align: center !important;
    }

    .crew-item-post {
        font-size: 24px !important;
    }

    .crew-item-name {
        font-size: 36px !important;
    }

    .crew-item-descript {
        font-size: 16px !important;
    }

    .navbar-collapse ul {
        margin-left: 100px !important;
    }

    #crew-nav-tabs {
        text-align: center !important;
        align-items: center !important;
        margin-left: 140px !important;
    }
}